*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto';
}
.container{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding-inline: 16px;
}
section{
    padding: 50px 0;
}
h2{
    margin-bottom: 10px;
}


dt {
  font-weight: bold;
}

dd {
  margin-left: 18px;
  margin-bottom: 20px;
}
